.main {
    width: 100%;
    height: 655px;
    background-color: white;
    padding: 32px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.header > div {
    display: flex;
    align-items: center;
}

.header > div h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.header > div span {
    width: 16px;
    height: 32px;
    border-radius: 4px;
    margin-right: 10px;
    display: block;
    background-color: #FFD88D;
}

.header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 192px;
    height: 48px;
    background: #2A85FF;
    border-radius: 12px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

table {
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
}

thead tr th {
    width: 140px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color:  #6F767E;;
}

tr td {
    font-size: 13px;
    text-align: center;
}

.btn-none {
    border: none;
    background: none;
    padding: 5px;
}
.fa-pen{
    color: dodgerblue;
}
.fa-trash{
    color: red;
}

.modal-card {
    width: 100%;
    height: 100vh;
    background-color: rgba(111, 118, 126, 0.16);
    position: fixed;
    top: 0;
    left: 0;
}


.modal {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4!important;
}

.modal div {
    width: 48%;
}

.modal input, .modal select {
    padding: 12px;
    width: 100%;
    height: 40px;
    background: #F4F4F4;
    border-radius: 12px;
    margin-bottom: 20px;
}



