.home {
    font-family: Noto Sans, sans-serif;
    padding: 94px;
}

.path {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.vector {
    margin: 0 10px;
}

.heading {
    font-size: 46px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0;
    text-align: left;
    position: absolute;
    /*width: 214px;*/
    height: 63px;
    left: 94px;
    top: 130px;
}

.row {
    margin-top: 123px;
}

.row > div {
    width: calc(25% - 32px);
    height: 220px;
    display: inline-block;
    margin-right: 32px;
    text-align: center;
}

.row > div > img {
    width: 100%;
}

.row > div > h5,
.row > div > span > h5
{
    margin-top: 16px;
}

.row > div > p {
    font-size: 24px;
}
.row > div > a > span {
    display: flex;
    justify-content: center;
    line-height: 24px;
}
.row > div > a{
    text-decoration: none;
    color: #000000;
}

.login-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 192px;
    height: 48px;
    background: #2A85FF;
    border-radius: 12px;

    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #fff;
}
