.layout {
    width: 100%;
    display: flex;
    /*background-color: gray;*/
}

.layout > div:first-child {
    width: 340px;
    height: 100vh;
    padding: 24px;
    background-color: #FCFCFC;
}

.nav-stack {
    width: 292px;
    height: 160px;
}

.nav-item {
    display: flex;
    text-decoration: none;
    border-radius: 12px;
    padding: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #6F767E;
}

.nav-item > span:first-child {
    color: black;
    margin-right: 8px;
}

.layout-bottom {
    width: 100%;
    padding: 24px;
}



