.card-left{
    height: auto;
    width: 27.5%;
    left: 94px;
    top: 242px;
    background: #F6F6F6;
    border-radius: 8px;
    padding: 16px 24px;
}
.car-row{
    margin-top: 123px;
    display: flex;
}

.car-heading{
    font-family: Noto Sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

.card-left > span {
    display: flex;
    line-height: 24px;
    margin-top: 16px;
}

.card-right{
    padding: 0 32px;
    width: 72.5%;
}