.login {
    width: 25%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 45px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login input {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 8px;
    /*border: none;*/
    outline: none;
    border: 1px solid darkgrey;

}

.login > div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    width: 192px;
    height: 28px;
    background: #2A85FF;
    border-radius: 12px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}